
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Acme', sans-serif;
    background-color: rgb(11, 148, 167);
}

.container{
    min-height: 100vh;
    width: 100%;
    
    overflow: hidden;
    
}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 4.8rem;
   
}
.menu{
    max-width: 115.2rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eee
}
.logo{
    font-size: 1.76rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 6.4rem;
    color: black;
}
.logo span{
    font-weight: 400;
}
.hamburger-menu{
    height: 6.4rem;
    width: 4.8rem;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content:flex-end;
    

}
.bar{
    width: 3.04rem;
    height: .15rem;
    border-radius: .2rem;
    background-color:black;
    transition: 0.5s;
    position: relative;
}
.bar::before, .bar::after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color:black;
    transition: 0.5s;
}
.bar::before{
    transform: translateY(-.9rem);
}
.bar:after{
    transform: translateY(.9rem);
}
.main{
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    transform-origin: left;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: 0.5s;
}
header{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    display: grid;
  
}
.container.active .bar {
    transform: rotate(360deg);
    background-color: transparent;
}
.container.active .bar:before {
    transform: translateY(0) rotate(45deg);
}
.container.active .bar:after {
    transform: translateY(0) rotate(-45deg);
}
.container.active .main {
    animation: main-animation 0.5s ease;
    cursor:pointer;
    transform:perspective(130rem) rotateY(20deg) translateZ(31rem) scale(0.5);
}
@keyframes main-animation {
    from {
        transform: translate(0);
    }
    to {
        transform:perspective(130rem) rotateY(20deg) translateZ(31rem) scale(0.5);
    }
}
.links {
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
.links a {
    text-decoration: none;
    color: #eee;
    padding: 1.12rem 0;
    display: inline-table;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10rem);
    animation: hide 0.5s forwards ease;
}
.links a:hover {
    color: #fff;

}
.container.active .links a {
    animation: appear 0.5s forwards ease var(--i);
}
@keyframes appear {
    from {
        opacity: 0;
    transform: translateY(1rem);
    }
    to {
        opacity: 1;
    transform: translateY(0rem);
    }
}
@keyframes hide {
    from {
        opacity: 0;
    transform: translateY(1rem);
    }
    to {
        opacity: 1;
    transform: translateY(0rem);
    }
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color:white;
    
}
.shadow.one {
    z-index: -1;
   
    opacity: 0.15;
    

}
.shadow.two {
    z-index: -2;
    opacity: 0.1;
}
.container.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform:perspective(130rem) rotateY(20deg) translateZ(21.5rem) scale(0.5);

}
@keyframes shadow-one{
    0%{
        transform: translate(0);

    }
    5%{
        transform:perspective(130rem) rotateY(20deg) translateZ(31rem) scale(0.5);
    }
    100%{
        transform:perspective(130rem) rotateY(20deg) translateZ(31rem) scale(0.5);
    }
}
.container.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform:perspective(130rem) rotateY(20deg) translateZ(12rem) scale(0.5);

}
@keyframes shadow-two{
    0%{
        transform: translate(0);

    }
    20%{
        transform:perspective(130rem) rotateY(20deg) translateZ(31rem) scale(0.5);
    }
    100%{
        transform:perspective(130rem) rotateY(20deg) translateZ(12rem) scale(0.5);
    }
}
.container.active .main:hover + .shadow.one{
transform:perspective(130rem) rotateY(20deg) translateZ(23rem) scale(0.5); ;
}
.container.active .main:hover{
    transform:perspective(130rem) rotateY(20deg) translateZ(34rem) scale(0.5); ;
    }

    .section{
    
   
        width: 100%;
        height: 70rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        padding-left: 3rem;
       
    }
    .left{
        padding-left: 2rem;
        max-width: 65rem;
        margin: left;
        height: 65vh;
        width: 100%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left img{
        width: 31%;
        
        height: 29vh;
    }
    .right{
        width: 100%;
        height: 70vh;
        padding: 2rem;
        top: 0;
        right: 0;
        display: flex;
     
    }
    .r{
        padding-left: 2rem;
        max-width: 65rem;
        margin: right;
        height: 65vh;
        width: 100%;
        background: white;
        
    }
    .r h1{
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .r p{
        font-size: 3rem;
        font-weight: 300;

    }












    @media(max-width:555px){
        html{
            font-size: 45%;
         
        }
        .section{
            display: grid;
            width: 100%;
            height: 90rem;
            
            }
            .left{
                height: 59vh;
            }
            .left img{
                width: 45%;
            }
            .r h1{
                font-size: 5rem;
            }
    }
        @media(max-width: 396px){
            html{
                font-size: 32%;
            }
            .section{
                display: grid;
                width: 100%;
                height: 90rem;
               
                }
                .left img{
                    width: 75%;
                }
                .r h1{
                    font-size: 5rem;
                }
        }
        @media(max-width: 334px){
            html{
                font-size: 30%;
            }
            .section{
                display: grid;
                width: 100%;
                height: 90rem;
               
                }
                .left img{
                    width: 75%;
                }
                .r h1{
                    font-size: 5rem;
                }
        }